In [2]:
# Import packages
from flask import Flask, render_template, request, redirect
from bokeh.embed import components
from bokeh.models import HoverTool, Legend
from bokeh.plotting import figure, show
from bokeh.models.formatters import DatetimeTickFormatter
from bokeh.io import output_notebook
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

In [92]:
ticker = 'BABA'
columnslist = ['Adjusted Closing Price','Opening Price','Closing Price']

In [93]:
columnsdict = {'Opening Price': 'open',\
               'Adjusted Closing Price': 'adjusted close',\
               'Closing Price': 'close'}

In [94]:
key = 'O0YXZHA3HRN94A94'
ticker = 'BABA'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={}&apikey={}&outputsize=compact'.format(ticker, key)
response = requests.get(url)
df = pd.DataFrame(response.json()['Time Series (Daily)']).transpose()

In [95]:
df=df.iloc[::-1]
df.reset_index(inplace=True)
df = df.rename(columns = {'index':'date'})

In [96]:
df.columns=['date','open','high','low','close','adjusted close','volume','dividend','split']
df.head()

,date,open,high,low,close,adjusted close,volume,dividend,split
0,2020-08-18,258.71,261.42,256.06,259.2,259.2,13267829,0.0000,1.0
1,2020-08-19,260.89,261.29,257.38,260.59,260.59,14096512,0.0000,1.0
2,2020-08-20,256.89,258.88,254.18,257.97,257.97,21460767,0.0000,1.0
3,2020-08-21,259.03,267.43,258.31,265.8,265.8,25648217,0.0000,1.0
4,2020-08-24,273.24,276.97,271.62,276.02,276.02,22475757,0.0000,1.0

In [84]:
ys = [columnsdict[c] for c in columnslist]

In [87]:
df['date']=pd.to_datetime(df['date'],format="%Y-%m-%d")
df.dtypes

date              datetime64[ns]
open                      object
high                      object
low                       object
close                     object
adjusted close            object
volume                    object
dividend                  object
split                     object
dtype: object

In [91]:
clrs = ["orange","navy","grey"]
plt = figure(plot_width=600, plot_height=500,x_axis_type="datetime", title =ticker+" Prices")
for p in range(len(ys)):
    plt.line(df['date'],df[ys[p]],\
           color = clrs[p],\
           alpha = 0.8,\
           line_width=1.5,\
           legend_label = ticker + ": " + columnslist[p])
    #plt.xaxis.formatter = DatetimeTickFormatter(months = '%b %y')
    plt.xaxis.axis_label = "Date"
    plt.yaxis.axis_label = "Price $"
    plt.legend.location = "top_right"
show(plt)

In [97]:
df[columnsdict['Opening Price']]

0     258.71
1     260.89
2     256.89
3     259.03
4     273.24
       ...
95     226.5
96    229.05
97    234.95
98    229.31
99    227.88
Name: open, Length: 100, dtype: object