In [2]:
# Import packages
from flask import Flask, render_template, request, redirect
from bokeh.embed import components
from bokeh.models import HoverTool, Legend
from bokeh.plotting import figure, show
from bokeh.models.formatters import DatetimeTickFormatter
from bokeh.io import output_notebook
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

In [61]:
ticker = 'AAPL'
columnslist = ['Adjusted Closing Price','Opening Price','Closing Price']

In [35]:
columnsdict = {'Opening Price': 'open',\
               'Adjusted Closing Price': 'adjusted close',\
               'Closing Price': 'close'}

In [81]:
key = 'O0YXZHA3HRN94A94'
ticker = 'AAPL'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={}&apikey={}&outputsize=compact'.format(ticker, key)
response = requests.get(url)
df = pd.DataFrame(response.json()['Time Series (Daily)']).transpose()

In [82]:
df=df.iloc[::-1]
df.reset_index(inplace=True)
df = df.rename(columns = {'index':'date'})

In [83]:
df.columns=['date','open','high','low','close','adjusted close','volume','dividend','split']
df.head()

,date,open,high,low,close,adjusted close,volume,dividend,split
0,2020-08-18,457.41,464.0,456.03,462.25,115.363245931,26408385,0.0000,1.0
1,2020-08-19,463.933,468.65,462.44,462.83,115.507995921,36384502,0.0000,1.0
2,2020-08-20,463.0,473.568,462.9335,473.1,118.07106901,31726797,0.0000,1.0
3,2020-08-21,477.05,499.472,477.0,497.48,124.155559948,84513660,0.0000,1.0
4,2020-08-24,514.79,515.14,495.745,503.43,125.640495185,86484442,0.0000,1.0

In [84]:
ys = [columnsdict[c] for c in columnslist]

In [87]:
df['date']=pd.to_datetime(df['date'],format="%Y-%m-%d")
df.dtypes

date              datetime64[ns]
open                      object
high                      object
low                       object
close                     object
adjusted close            object
volume                    object
dividend                  object
split                     object
dtype: object

In [91]:
clrs = ["orange","navy","grey"]
plt = figure(plot_width=600, plot_height=500,x_axis_type="datetime", title =ticker+" Prices")
for p in range(len(ys)):
    plt.line(df['date'],df[ys[p]],\
           color = clrs[p],\
           alpha = 0.8,\
           line_width=1.5,\
           legend_label = ticker + ": " + columnslist[p])
    #plt.xaxis.formatter = DatetimeTickFormatter(months = '%b %y')
    plt.xaxis.axis_label = "Date"
    plt.yaxis.axis_label = "Price $"
    plt.legend.location = "top_right"
show(plt)